<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://118.24.203.178:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="911006"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--
        <mapper resource="tk/mybatis/simple/mapper/SysUserMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/SysUserRoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/SysRoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/SysPrivilegeMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/SysRolePrivilegeMapper.xml"/>
        -->
        <package name="tk.mybatis.simple.mapper"/>
    </mappers>
</configuration>